@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Pretendard';

}

.header_ctn{
    width:1500px;
    margin: auto;
    margin-top: 70px;
    align-items: center;
}

#ore_logo_home {
margin:auto;
width:340px;
}

.header_ctn span {
margin:0px 7px;
}

.logo_ctn {
width: fit-content;
margin: auto;
}
a {
text-decoration: none;
color:black;
}

.menu_ctn {
display:flex;
justify-content :flex-end;
align-items:right;
margin-top: -50px;
}