

.header {

    height: 200px;
    width: auto;
    background-color: antiquewhite;
}

.carousel-inner{
    height:600px;
}

#carouselExampleIndicators{
margin-top: 80px;
}

.d-block w-100 {
    height:700px;
}