#menu_pg_bn{
    height: 310px;
}

a {
    text-decoration: none;
    color:black;
}
.menu_img_ctn {
    margin-top: 86px;

}

.menu_ctn{
    font-size: 17px;
    line-height: 2.3;
    width: 260px;
    display:flex;
    flex-direction: column;
    white-space: nowrap;
    font-weight: 800;
    margin: 100px 70px 100px 235px;
}

.menu_ctn>div{
    display: flex;
    flex-direction: row;
}

.menu_active{
    background-color: black;
    height: 1px;
    opacity: 50%;
    width: 100%;
    margin: auto;
    margin-right: 0;
}
.menu_ctn>div>div {
    margin-right: 30px;
}

.menu_img_text_ctn{
    width:fit-content;
    position: relative;
    display: inline-block;
}

.menu_img_text_ctn{
    position: absolute;
    top: 263px;
    left: 230px;
}

.ctg_name{
    font-size: 60px;
    font-weight: 100;
}
.ctg_cn{
    font-weight: 200;
}

.menu{
    /*border: solid black 1px;*/
    width:1000px;
    margin-bottom:150px;

}

.menu_wrap{
    display:flex;
    flex-direction: row;
}

.menu img {
    width: 190px;
}

.menu_ctg_name {
    font-weight: 700;
}

.menu_ctg{
    margin-top: 30px;
    margin-left: 16px;
}

.menu_ctg_rm {
    font-size: 14px;
    margin-top: 4px;
}

.menu_each_img_ctn{
    margin-top: 18px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.menu_each{
font-size:15px;
margin: 15px;
}

.menu_each div{
width: 190px;
text-align: center;
}

.menu_each>div:first-child{
margin-top: 6px;
}

.menu_each>div:last-child{
margin-top:3px;
}