h2 {
margin: 60px auto;
}

.notice_ctn {
width:1300px;
margin:auto;
display:flex;
flex-direction: column;
}

.notice_search_ctn {
display:flex;
justify-content: right;
margin-bottom: 20px;
}

.input_ctn{
margin: auto;
padding:5px;
height:35px;
width:260px;
border: 1px solid #EA5234;

}
.search_btn{
margin: auto 10px;
border:none;
background-color: #EA5234;
width: 60px;
height: 35px;
color:white;
}



table {
text-align : center;
line-height: 2;
font-weight: 300;
}

td {
padding: 5px;
height: 70px;
border-bottom: 1px lightgray solid;
border-top: 1px lightgray solid;

}

#pagination {
margin: 10px auto;
color: #EA5234;


}

#pagination hover {
color:red;
}


input:focus {
border: 2px #EA5234 solid;
}