<div class="footer_ctn" th:fragment="footer">
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <div>

        <div>
            <img id="ore_logo_mini" src="../images/ore_mini_logo.png" alt="">
            <span>소재지: 경기도 수원시 영통구 광교호수공원로 277 b1층 35호</span>
            <span>대표번호: 010-2035-3196</span>
            <span><a href="">개인정보취급방침 / 이용약관</a></span>
        </div>

        <div>
            <img id="insta_logo" src="../images/insta_logo.png" alt="">
            <span>Copyright © ore coffee house. All rights reserved.</span>

        </div>
    </div>

</div>