<div class="header_ctn" th:fragment="header">
  <link rel="stylesheet" type="text/css" href="../css/header.css?after" />

  <div>
    <a href="/home">
    <img id="ore_logo_home" src="../images/ore_logo.png" alt=""/>
    </a>
  </div>

  <div>
    <span><a href="/ore-place">공간 소개</a></span>
    <span><a href="/menu">메뉴</a></span>
    <span><a href="/notice">공지 사항</a></span>
  </div>

  <div>
    <span><a href="/login">로그인</a></span>
    <span><a href="/join">회원가입</a></span>
    <span><a href="/myPage">마이페이지</a></span>
  </div>


</div>

